In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('DataAnalyst.csv',encoding='gbk')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6876 entries, 0 to 6875
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               6876 non-null   object
 1   companyFullName    6876 non-null   object
 2   companyId          6876 non-null   int64
 3   companyLabelList   6170 non-null   object
 4   companyShortName   6876 non-null   object
 5   companySize        6876 non-null   object
 6   businessZones      4873 non-null   object
 7   firstType          6869 non-null   object
 8   secondType         6870 non-null   object
 9   education          6876 non-null   object
 10  industryField      6876 non-null   object
 11  positionId         6876 non-null   int64
 12  positionAdvantage  6876 non-null   object
 13  positionName       6876 non-null   object
 14  positionLables     6844 non-null   object
 15  salary             6876 non-null   object
 16  bottomSalary       6876 non-null   object
 17  topSalary          6876 non-null   object
 18  avg                0 non-null      float64
 19  workYear           6876 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.0+ MB

In [9]:
df.head(10)

,city,companyFullName,companyId,companyLabelList,companyShortName,companySize,businessZones,firstType,secondType,education,industryField,positionId,positionAdvantage,positionName,positionLables,salary,bottomSalary,topSalary,avg,workYear
0,上海,纽海信息技术(上海)有限公司,8581,"['技能培训', '节日礼物', '带薪年假', '岗位晋升']",1号店,2000人以上,['张江'],技术,数据开发,硕士,移动互联网,2537336,知名平台,数据分析师,"['分析师', '数据分析', '数据挖掘', '数据']",7k-9k,7,9,NaN,应届毕业生
1,上海,上海点荣金融信息服务有限责任公司,23177,"['节日礼物', '带薪年假', '岗位晋升', '扁平管理']",点融网,500-2000人,"['五里桥', '打浦桥', '制造局路']",技术,数据开发,本科,金融,2427485,"挑战机会,团队好,与大牛合作,工作环境好",数据分析师-CR2017-SH2909,"['分析师', '数据分析', '数据挖掘', '数据']",10k-15k,10,15,NaN,应届毕业生
2,上海,上海晶樵网络信息技术有限公司,57561,"['技能培训', '绩效奖金', '岗位晋升', '管理规范']",SPD,50-150人,['打浦桥'],设计,数据分析,本科,移动互联网,2511252,"时间自由,领导nic",数据分析师,"['分析师', '数据分析', '数据']",4k-6k,4,6,NaN,应届毕业生
3,上海,杭州数云信息技术有限公司上海分公司,7502,"['绩效奖金', '股票期权', '五险一金', '通讯津贴']",数云,150-500人,"['龙华', '上海体育场', '万体馆']",市场与销售,数据分析,本科,"企业服务,数据服务",2427530,五险一金 绩效奖金 带薪年假 节日福利,大数据业务分析师【数云校招】,"['商业', '分析师', '大数据', '数据']",6k-8k,6,8,NaN,应届毕业生
4,上海,上海银基富力信息技术有限公司,130876,"['年底双薪', '通讯津贴', '定期体检', '绩效奖金']",银基富力,15-50人,"['上海影城', '新华路', '虹桥']",技术,软件开发,本科,其他,2245819,在大牛下指导,BI开发/数据分析师,"['分析师', '数据分析', '数据', 'BI']",2k-3k,2,3,NaN,应届毕业生
5,上海,上海青之桐投资管理有限公司,28095,"['美女多', '出国旅游', '不打卡', '带薪年假']",青桐资本,50-150人,NaN,金融类,天使投资/VC/PE,本科,金融,2580543,"留用机会,精品投行,优秀团队,氛围轻松",助理分析师,"['实习', '投资', 'FA', '行业研究', '分析师']",10k-15k,10,15,NaN,应届毕业生
6,上海,上海好体信息科技有限公司,2002,"['年底双薪', '股票期权', '扁平管理', '领导好']",足球魔方,150-500人,"['龙华', '植物园', '上海南站']",技术,后端开发,本科,"移动互联网,电子商务",1449715,薪资福利待遇好，晋升空间大,数据工程师,['数据'],7k-14k,7,4,NaN,应届毕业生
7,上海,上海安硕信息技术股份有限公司,21863,"['岗位晋升', '顶尖团队', '福利优厚', '股票期权']",安硕信息（amarsoft）,2000人以上,"['黄兴公园', '长白新村', '延吉']",产品/需求/项目类,产品设计/需求分析,硕士,金融,2568628,健康体检,数据咨询顾问(2017年毕业),"['需求分析', '顾问', '咨询', '咨询顾问', '数据']",5k-7k,5,7,NaN,应届毕业生
8,上海,上海崇杏健康管理咨询有限公司,121208,"['扁平管理', '弹性工作', '岗位晋升', '领导好']",上海崇杏,15-50人,"['上海电视台', '南京西路', '人民广场']",技术,后端开发,本科,"移动互联网,医疗健康",2416852,"扁平管理,上升空间大,领导好,弹性工作",数据处理工程师（实习生）,"['后端开发', '数据']",4k-8k,4,8,NaN,应届毕业生
9,上海,五五海淘（上海）科技股份有限公司,58109,"['股票期权', '带薪年假', '绩效奖金', '岗位晋升']",55海淘,150-500人,"['漕宝路', '万源城', '东兰路']",技术,后端开发,本科,电子商务,1605795,向大牛学习，有留司机会,数据处理实习生,['数据'],2k-4k,2,4,NaN,应届毕业生

In [10]:
df.tail()

,city,companyFullName,companyId,companyLabelList,companyShortName,companySize,businessZones,firstType,secondType,education,industryField,positionId,positionAdvantage,positionName,positionLables,salary,bottomSalary,topSalary,avg,workYear
6871,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,市场/商务/销售类,销售,大专,金融、教育,2469682,高薪双休五险一金时间自由朝九晚五,金融证券分析师&nbsp;&nbsp;助理,"['分析师', '金融', '证券']",10k-20k,10,20,NaN,不限
6872,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,产品/需求/项目类,项目管理,大专,金融、教育,2469686,高薪五险一金双休朝九晚五带薪年假20天,金融证券分析师&nbsp;可培训,"['项目管理', '专员', '助理', '实习生', '风控', '采购', '分析师',...",15k-30k,15,30,NaN,不限
6873,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,其他,房地产|建筑业,大专,金融、教育,2470949,高薪五险一金双休朝九晚五无加班可培训,金融证券分析师&nbsp;讲师&nbsp;助理,"['分析师', '职业培训', '教育', '培训', '金融', '证券', '股票', ...",15k-30k,15,30,NaN,不限
6874,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,市场/商务/销售类,销售,大专,金融、教育,2465839,高薪&nbsp;无加班&nbsp;&nbsp;双休&nbsp;&nbsp;五险一金&nbsp;,金融证券分析师助理讲师助理,"['实习生', '主管', '经理', '顾问', '销售', '客户代表', '分析师',...",10k-20k,10,20,NaN,不限
6875,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,金融类,风控,不限,金融、教育,2471674,挑战高薪，挑战自我,1W五险双休诚聘金融分析师助理可兼职,"['分析师', '金融']",8k-15k,8,5,NaN,不限

In [11]:
df.sort_values(by = 'avg')

,city,companyFullName,companyId,companyLabelList,companyShortName,companySize,businessZones,firstType,secondType,education,industryField,positionId,positionAdvantage,positionName,positionLables,salary,bottomSalary,topSalary,avg,workYear
0,上海,纽海信息技术(上海)有限公司,8581,"['技能培训', '节日礼物', '带薪年假', '岗位晋升']",1号店,2000人以上,['张江'],技术,数据开发,硕士,移动互联网,2537336,知名平台,数据分析师,"['分析师', '数据分析', '数据挖掘', '数据']",7k-9k,7,9,NaN,应届毕业生
1,上海,上海点荣金融信息服务有限责任公司,23177,"['节日礼物', '带薪年假', '岗位晋升', '扁平管理']",点融网,500-2000人,"['五里桥', '打浦桥', '制造局路']",技术,数据开发,本科,金融,2427485,"挑战机会,团队好,与大牛合作,工作环境好",数据分析师-CR2017-SH2909,"['分析师', '数据分析', '数据挖掘', '数据']",10k-15k,10,15,NaN,应届毕业生
2,上海,上海晶樵网络信息技术有限公司,57561,"['技能培训', '绩效奖金', '岗位晋升', '管理规范']",SPD,50-150人,['打浦桥'],设计,数据分析,本科,移动互联网,2511252,"时间自由,领导nic",数据分析师,"['分析师', '数据分析', '数据']",4k-6k,4,6,NaN,应届毕业生
3,上海,杭州数云信息技术有限公司上海分公司,7502,"['绩效奖金', '股票期权', '五险一金', '通讯津贴']",数云,150-500人,"['龙华', '上海体育场', '万体馆']",市场与销售,数据分析,本科,"企业服务,数据服务",2427530,五险一金 绩效奖金 带薪年假 节日福利,大数据业务分析师【数云校招】,"['商业', '分析师', '大数据', '数据']",6k-8k,6,8,NaN,应届毕业生
4,上海,上海银基富力信息技术有限公司,130876,"['年底双薪', '通讯津贴', '定期体检', '绩效奖金']",银基富力,15-50人,"['上海影城', '新华路', '虹桥']",技术,软件开发,本科,其他,2245819,在大牛下指导,BI开发/数据分析师,"['分析师', '数据分析', '数据', 'BI']",2k-3k,2,3,NaN,应届毕业生
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6871,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,市场/商务/销售类,销售,大专,金融、教育,2469682,高薪双休五险一金时间自由朝九晚五,金融证券分析师&nbsp;&nbsp;助理,"['分析师', '金融', '证券']",10k-20k,10,20,NaN,不限
6872,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,产品/需求/项目类,项目管理,大专,金融、教育,2469686,高薪五险一金双休朝九晚五带薪年假20天,金融证券分析师&nbsp;可培训,"['项目管理', '专员', '助理', '实习生', '风控', '采购', '分析师',...",15k-30k,15,30,NaN,不限
6873,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,其他,房地产|建筑业,大专,金融、教育,2470949,高薪五险一金双休朝九晚五无加班可培训,金融证券分析师&nbsp;讲师&nbsp;助理,"['分析师', '职业培训', '教育', '培训', '金融', '证券', '股票', ...",15k-30k,15,30,NaN,不限
6874,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,市场/商务/销售类,销售,大专,金融、教育,2465839,高薪&nbsp;无加班&nbsp;&nbsp;双休&nbsp;&nbsp;五险一金&nbsp;,金融证券分析师助理讲师助理,"['实习生', '主管', '经理', '顾问', '销售', '客户代表', '分析师',...",10k-20k,10,20,NaN,不限
6875,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,金融类,风控,不限,金融、教育,2471674,挑战高薪，挑战自我,1W五险双休诚聘金融分析师助理可兼职,"['分析师', '金融']",8k-15k,8,5,NaN,不限

In [12]:
df.sort_values(['avg','city'], ascending = False)

,city,companyFullName,companyId,companyLabelList,companyShortName,companySize,businessZones,firstType,secondType,education,industryField,positionId,positionAdvantage,positionName,positionLables,salary,bottomSalary,topSalary,avg,workYear
4962,长沙,湖南纵驰健康管理有限公司,149263,NaN,纵驰国际,50-150人,['麓谷'],市场与销售,数据分析,大专,"医疗健康,移动互联网",2430719,有无经验均可，带薪培训,商业数据分析,"['商业', '数据分析', '数据', 'BI']",3k-6k,3,6,NaN,应届毕业生
4963,长沙,湖南惠农科技有限公司,27754,"['绩效奖金', '五险一金', '带薪年假', '节日礼物']",惠农,150-500人,"['五一广场', '五一大道', '府后街']",技术,管理岗,不限,"电子商务,O2O",2483317,"发展平台好,晋升空间大",数据开发工程师,"['大数据', '数据库', '管理岗', '数据']",6k-8k,6,8,NaN,1-3年
4964,长沙,五八到家有限公司,125448,"['年底双薪', '绩效奖金', '带薪年假', 'O2O']",五八到家有限公司,2000人以上,NaN,市场/商务/销售类,渠道/推广,本科,"O2O,移动互联网",2564754,A轮3亿美金独角兽,数据分析师（广告优化方向）,"['推广', 'SEM', '搜索引擎', '数据分析', '数据', '分析师']",6k-10k,6,0,NaN,1-3年
4965,长沙,湖南快乐阳光互动娱乐传媒有限公司,26785,"['节日礼物', '免费班车', '带薪年假', '领导好']",芒果tv,500-2000人,['洪山桥'],技术,后端开发,本科,文化娱乐,2341437,一流的平台+迷之福利+丰厚奖金,数据分析,"['数据分析', '数据']",8k-16k,8,6,NaN,1-3年
4966,长沙,自由飞越国际航空技术服务（北京）有限公司,53480,"['节日礼物', '股票期权', '带薪年假', '绩效奖金']",Trafree/自由飞越,150-500人,"['麓谷', '麓谷锦园', '汽车西站']",技术,DBA,本科,电子商务,617547,精准的数据分析,数据分析工程师,"['数据分析', '数据']",6k-12k,6,2,NaN,1-3年
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,上海,北京三快在线科技有限公司,50702,"['技能培训', '绩效奖金', '岗位晋升', '领导好']",美团点评,2000人以上,NaN,技术,后端开发,不限,"移动互联网,O2O",2176226,核心部门，平台大，待遇优，发展空间大,数据仓库开发工程师,"['数据仓库', '数据']",15k-30k,15,30,NaN,不限
976,上海,北京三快在线科技有限公司,50702,"['技能培训', '绩效奖金', '岗位晋升', '领导好']",美团点评,2000人以上,NaN,技术,后端开发,不限,"移动互联网,O2O",2177002,核心部门，平台大，待遇优，发展空间大,数据开发工程师,"['大数据', '数据库', '数据']",15k-30k,15,30,NaN,不限
977,上海,北京三快在线科技有限公司,50702,"['技能培训', '绩效奖金', '岗位晋升', '领导好']",美团点评,2000人以上,NaN,技术,DBA,不限,"移动互联网,O2O",2500497,具有挑战的机遇，良好的发展平台和团队文化,数据仓库高级研发工程师（到店综合）,"['数据仓库', '数据']",18k-25k,18,25,NaN,不限
978,上海,北京三快在线科技有限公司,50702,"['技能培训', '绩效奖金', '岗位晋升', '领导好']",美团点评,2000人以上,NaN,技术,后端开发,不限,"移动互联网,O2O",2178212,重点部门，核心业务，最佳的发展平台,美团外卖配送-高级数据平台开发工程师or技术专家,"['平台', '数据']",25k-45k,25,45,NaN,不限
979,上海,北京三快在线科技有限公司,50702,"['技能培训', '绩效奖金', '岗位晋升', '领导好']",美团点评,2000人以上,NaN,技术,后端开发,不限,"移动互联网,O2O",2182949,重点部门，核心业务，最佳发展平台,美团外卖配送-高级数据仓库工程师or技术专家,"['数据仓库', '数据']",25k-45k,25,45,NaN,不限

In [13]:
df.avg.rank()

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
6871   NaN
6872   NaN
6873   NaN
6874   NaN
6875   NaN
Name: avg, Length: 6876, dtype: float64

In [14]:
df['rank'] = df.avg.rank()

In [15]:
df

,city,companyFullName,companyId,companyLabelList,companyShortName,companySize,businessZones,firstType,secondType,education,...,positionId,positionAdvantage,positionName,positionLables,salary,bottomSalary,topSalary,avg,workYear,rank
0,上海,纽海信息技术(上海)有限公司,8581,"['技能培训', '节日礼物', '带薪年假', '岗位晋升']",1号店,2000人以上,['张江'],技术,数据开发,硕士,...,2537336,知名平台,数据分析师,"['分析师', '数据分析', '数据挖掘', '数据']",7k-9k,7,9,NaN,应届毕业生,NaN
1,上海,上海点荣金融信息服务有限责任公司,23177,"['节日礼物', '带薪年假', '岗位晋升', '扁平管理']",点融网,500-2000人,"['五里桥', '打浦桥', '制造局路']",技术,数据开发,本科,...,2427485,"挑战机会,团队好,与大牛合作,工作环境好",数据分析师-CR2017-SH2909,"['分析师', '数据分析', '数据挖掘', '数据']",10k-15k,10,15,NaN,应届毕业生,NaN
2,上海,上海晶樵网络信息技术有限公司,57561,"['技能培训', '绩效奖金', '岗位晋升', '管理规范']",SPD,50-150人,['打浦桥'],设计,数据分析,本科,...,2511252,"时间自由,领导nic",数据分析师,"['分析师', '数据分析', '数据']",4k-6k,4,6,NaN,应届毕业生,NaN
3,上海,杭州数云信息技术有限公司上海分公司,7502,"['绩效奖金', '股票期权', '五险一金', '通讯津贴']",数云,150-500人,"['龙华', '上海体育场', '万体馆']",市场与销售,数据分析,本科,...,2427530,五险一金 绩效奖金 带薪年假 节日福利,大数据业务分析师【数云校招】,"['商业', '分析师', '大数据', '数据']",6k-8k,6,8,NaN,应届毕业生,NaN
4,上海,上海银基富力信息技术有限公司,130876,"['年底双薪', '通讯津贴', '定期体检', '绩效奖金']",银基富力,15-50人,"['上海影城', '新华路', '虹桥']",技术,软件开发,本科,...,2245819,在大牛下指导,BI开发/数据分析师,"['分析师', '数据分析', '数据', 'BI']",2k-3k,2,3,NaN,应届毕业生,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6871,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,市场/商务/销售类,销售,大专,...,2469682,高薪双休五险一金时间自由朝九晚五,金融证券分析师&nbsp;&nbsp;助理,"['分析师', '金融', '证券']",10k-20k,10,20,NaN,不限,NaN
6872,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,产品/需求/项目类,项目管理,大专,...,2469686,高薪五险一金双休朝九晚五带薪年假20天,金融证券分析师&nbsp;可培训,"['项目管理', '专员', '助理', '实习生', '风控', '采购', '分析师',...",15k-30k,15,30,NaN,不限,NaN
6873,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,其他,房地产|建筑业,大专,...,2470949,高薪五险一金双休朝九晚五无加班可培训,金融证券分析师&nbsp;讲师&nbsp;助理,"['分析师', '职业培训', '教育', '培训', '金融', '证券', '股票', ...",15k-30k,15,30,NaN,不限,NaN
6874,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,市场/商务/销售类,销售,大专,...,2465839,高薪&nbsp;无加班&nbsp;&nbsp;双休&nbsp;&nbsp;五险一金&nbsp;,金融证券分析师助理讲师助理,"['实习生', '主管', '经理', '顾问', '销售', '客户代表', '分析师',...",10k-20k,10,20,NaN,不限,NaN
6875,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,金融类,风控,不限,...,2471674,挑战高薪，挑战自我,1W五险双休诚聘金融分析师助理可兼职,"['分析师', '金融']",8k-15k,8,5,NaN,不限,NaN

In [16]:
df.describe()

           companyId    positionId  avg  rank
count    6876.000000  6.876000e+03  0.0   0.0
mean    56473.470477  2.188696e+06  NaN   NaN
std     48416.947813  4.472044e+05  NaN   NaN
min        43.000000  8.030700e+04  NaN   NaN
25%     10003.000000  2.049360e+06  NaN   NaN
50%     46668.000000  2.352736e+06  NaN   NaN
75%    101076.000000  2.495215e+06  NaN   NaN
max    157744.000000  2.583183e+06  NaN   NaN

In [17]:
df['bins'] = pd.cut(df.topSalary.bins = [0,5,10,20,100],labels=['0~5','5~10','10~20','20~100'])

SyntaxError: keyword can't be an expression (<ipython-input-17-90bc22359c6f>, line 1)

In [21]:
df.groupby(by = ['city','workYear']).mean()

                   companyId    positionId  avg  rank
city workYear
上海   1-3年       56044.512422  2.104263e+06  NaN   NaN
     10年以上      50283.500000  2.186072e+06  NaN   NaN
     1年以下       66486.562500  2.335498e+06  NaN   NaN
     3-5年       56149.964809  2.132500e+06  NaN   NaN
     5-10年      63723.000000  2.206422e+06  NaN   NaN
...                      ...           ...  ...   ...
长沙   1-3年       44605.555556  2.166399e+06  NaN   NaN
     3-5年       44933.900000  2.178290e+06  NaN   NaN
     5-10年       7382.000000  7.452570e+05  NaN   NaN
     不限         98598.000000  2.201182e+06  NaN   NaN
     应届毕业生     149263.000000  2.430719e+06  NaN   NaN

[75 rows x 4 columns]

In [23]:
for k in df.groupby(by = 'city'):
    print(k[1])

    city    companyFullName  companyId                  companyLabelList  \
0     上海     纽海信息技术(上海)有限公司       8581  ['技能培训', '节日礼物', '带薪年假', '岗位晋升']
1     上海   上海点荣金融信息服务有限责任公司      23177  ['节日礼物', '带薪年假', '岗位晋升', '扁平管理']
2     上海     上海晶樵网络信息技术有限公司      57561  ['技能培训', '绩效奖金', '岗位晋升', '管理规范']
3     上海  杭州数云信息技术有限公司上海分公司       7502  ['绩效奖金', '股票期权', '五险一金', '通讯津贴']
4     上海     上海银基富力信息技术有限公司     130876  ['年底双薪', '通讯津贴', '定期体检', '绩效奖金']
..   ...                ...        ...                               ...
975   上海       北京三快在线科技有限公司      50702   ['技能培训', '绩效奖金', '岗位晋升', '领导好']
976   上海       北京三快在线科技有限公司      50702   ['技能培训', '绩效奖金', '岗位晋升', '领导好']
977   上海       北京三快在线科技有限公司      50702   ['技能培训', '绩效奖金', '岗位晋升', '领导好']
978   上海       北京三快在线科技有限公司      50702   ['技能培训', '绩效奖金', '岗位晋升', '领导好']
979   上海       北京三快在线科技有限公司      50702   ['技能培训', '绩效奖金', '岗位晋升', '领导好']

    companyShortName companySize           businessZones firstType secondType  \
0                1号店     2000人以上                  ['张江']        技术       数据开发
1                点融网   500-2000人  ['五里桥', '打浦桥', '制造局路']        技术       数据开发
2                SPD     50-150人                 ['打浦桥']        设计       数据分析
3                 数云    150-500人  ['龙华', '上海体育场', '万体馆']     市场与销售       数据分析
4               银基富力      15-50人   ['上海影城', '新华路', '虹桥']        技术       软件开发
..               ...         ...                     ...       ...        ...
975             美团点评     2000人以上                     NaN        技术       后端开发
976             美团点评     2000人以上                     NaN        技术       后端开发
977             美团点评     2000人以上                     NaN        技术        DBA
978             美团点评     2000人以上                     NaN        技术       后端开发
979             美团点评     2000人以上                     NaN        技术       后端开发

    education  ... positionId     positionAdvantage              positionName  \
0          硕士  ...    2537336                  知名平台                     数据分析师
1          本科  ...    2427485  挑战机会,团队好,与大牛合作,工作环境好       数据分析师-CR2017-SH2909
2          本科  ...    2511252            时间自由,领导nic                     数据分析师
3          本科  ...    2427530   五险一金 绩效奖金 带薪年假 节日福利            大数据业务分析师【数云校招】
4          本科  ...    2245819                在大牛下指导                BI开发/数据分析师
..        ...  ...        ...                   ...                       ...
975        不限  ...    2176226    核心部门，平台大，待遇优，发展空间大                 数据仓库开发工程师
976        不限  ...    2177002    核心部门，平台大，待遇优，发展空间大                   数据开发工程师
977        不限  ...    2500497  具有挑战的机遇，良好的发展平台和团队文化         数据仓库高级研发工程师（到店综合）
978        不限  ...    2178212     重点部门，核心业务，最佳的发展平台  美团外卖配送-高级数据平台开发工程师or技术专家
979        不限  ...    2182949      重点部门，核心业务，最佳发展平台    美团外卖配送-高级数据仓库工程师or技术专家

                    positionLables   salary bottomSalary topSalary avg  \
0    ['分析师', '数据分析', '数据挖掘', '数据']    7k-9k            7         9 NaN
1    ['分析师', '数据分析', '数据挖掘', '数据']  10k-15k           10        15 NaN
2            ['分析师', '数据分析', '数据']    4k-6k            4         6 NaN
3       ['商业', '分析师', '大数据', '数据']    6k-8k            6         8 NaN
4      ['分析师', '数据分析', '数据', 'BI']    2k-3k            2         3 NaN
..                             ...      ...          ...       ...  ..
975                 ['数据仓库', '数据']  15k-30k           15        30 NaN
976           ['大数据', '数据库', '数据']  15k-30k           15        30 NaN
977                 ['数据仓库', '数据']  18k-25k           18        25 NaN
978                   ['平台', '数据']  25k-45k           25        45 NaN
979                 ['数据仓库', '数据']  25k-45k           25        45 NaN

     workYear rank
0       应届毕业生  NaN
1       应届毕业生  NaN
2       应届毕业生  NaN
3       应届毕业生  NaN
4       应届毕业生  NaN
..        ...  ...
975        不限  NaN
976        不限  NaN
977        不限  NaN
978        不限  NaN
979        不限  NaN

[980 rows x 21 columns]
     city                companyFullName  companyId  \
1507   北京               普信恒业科技发展（北京）有限公司       3786
1508   北京  友众信业金融信息服务（上海）有限公司北京朝阳投资咨询分公司       6616
1509   北京               清科财务管理咨询（北京）有限公司      72257
1510   北京           成都西山居互动娱乐科技有限公司珠海分公司       9365
1511   北京                   北京译泰教育科技有限公司      54634
...   ...                            ...        ...
6871   北京                 北京亿盛融华投资管理有限公司     151898
6872   北京                 北京亿盛融华投资管理有限公司     151898
6873   北京                 北京亿盛融华投资管理有限公司     151898
6874   北京                 北京亿盛融华投资管理有限公司     151898
6875   北京                 北京亿盛融华投资管理有限公司     151898

                      companyLabelList companyShortName companySize  \
1507  ['管理规范', '技能培训', '扁平管理', '弹性工作']               宜信     2000人以上
1508  ['年底双薪', '绩效奖金', '五险一金', '交通补助']               友信     2000人以上
1509  ['节日礼物', '技能培训', '绩效奖金', '年度旅游']             清科集团    150-500人
1510  ['绩效奖金', '股票期权', '专项奖金', '年底双薪']            西山居游戏     2000人以上
1511   ['领导好', '技能培训', '五险一金', '交通补助']             译泰教育     50-150人
...                                ...              ...         ...
6871                               NaN             亿盛资本    150-500人
6872                               NaN             亿盛资本    150-500人
6873                               NaN             亿盛资本    150-500人
6874                               NaN             亿盛资本    150-500人
6875                               NaN             亿盛资本    150-500人

              businessZones  firstType  secondType education  ... positionId  \
1507                    NaN  产品/需求/项目类        数据分析        本科  ...    2518581
1508  ['三元桥', '亮马桥', '左家庄']         金融          风控        本科  ...    2386370
1509   ['亮马桥', '三元桥', '燕莎']         金融  天使投资/VC/PE        本科  ...    2150845
1510   ['中关村', '双安', '双榆树']         技术        数据开发        本科  ...    2381437
1511          ['望京', '来广营']         设计        用户研究        硕士  ...     471560
...                     ...        ...         ...       ...  ...        ...
6871                    NaN  市场/商务/销售类          销售        大专  ...    2469682
6872                    NaN  产品/需求/项目类        项目管理        大专  ...    2469686
6873                    NaN         其他     房地产|建筑业        大专  ...    2470949
6874                    NaN  市场/商务/销售类          销售        大专  ...    2465839
6875                    NaN        金融类          风控        不限  ...    2471674

                                    positionAdvantage  \
1507                             大牛团队,互联网金融,零食水果,灵活工时
1508                                             发展前景
1509                              集团公司,扁平管理,六险一金,弹性工时
1510                                             岗位培训
1511                                   你将成为核心部门中的核心人物
...                                               ...
6871                                 高薪双休五险一金时间自由朝九晚五
6872                              高薪五险一金双休朝九晚五带薪年假20天
6873                               高薪五险一金双休朝九晚五无加班可培训
6874  高薪&nbsp;无加班&nbsp;&nbsp;双休&nbsp;&nbsp;五险一金&nbsp;
6875                                        挑战高薪，挑战自我

                 positionName  \
1507               数据分析师（实习生）
1508                    数据分析师
1509                    数据分析师
1510            数据分析师（实习）（北京）
1511                    数据分析师
...                       ...
6871    金融证券分析师&nbsp;&nbsp;助理
6872         金融证券分析师&nbsp;可培训
6873  金融证券分析师&nbsp;讲师&nbsp;助理
6874            金融证券分析师助理讲师助理
6875       1W五险双休诚聘金融分析师助理可兼职

                                         positionLables   salary bottomSalary  \
1507                              ['分析师', '数据分析', '数据']    2k-3k            2
1508                              ['分析师', '数据分析', '数据']   8k-15k            8
1509                              ['分析师', '数据分析', '数据']    5k-6k            5
1510                  ['搜索', '分析师', '数据分析', '数据', '算法']    2k-4k            2
1511                              ['分析师', '数据分析', '数据']   6k-12k            6
...                                                 ...      ...          ...
6871                                ['分析师', '金融', '证券']  10k-20k           10
6872  ['项目管理', '专员', '助理', '实习生', '风控', '采购', '分析师',...  15k-30k           15
6873  ['分析师', '职业培训', '教育', '培训', '金融', '证券', '股票', ...  15k-30k           15
6874  ['实习生', '主管', '经理', '顾问', '销售', '客户代表', '分析师',...  10k-20k           10
6875                                      ['分析师', '金融']   8k-15k            8

     topSalary avg  workYear rank
1507         3 NaN     应届毕业生  NaN
1508         5 NaN     应届毕业生  NaN
1509         6 NaN     应届毕业生  NaN
1510         4 NaN     应届毕业生  NaN
1511         2 NaN     应届毕业生  NaN
...        ...  ..       ...  ...
6871        20 NaN        不限  NaN
6872        30 NaN        不限  NaN
6873        30 NaN        不限  NaN
6874        20 NaN        不限  NaN
6875         5 NaN        不限  NaN

[4177 rows x 21 columns]
     city companyFullName  companyId                  companyLabelList  \
4729   南京  江苏宝贝金融信息服务有限公司      12479   ['岗位晋升', '扁平管理', '管理规范', '领导好']
4730   南京        通联数据股份公司      21218  ['五险一金', '通讯津贴', '带薪年假', '节日礼物']
4731   南京    北京希嘉创智科技有限公司      64861  ['节日礼物', '股票期权', '带薪年假', '绩效奖金']
4732   南京    东方网力科技股份有限公司      24980  ['弹性工作', '股票期权', '绩效奖金', '扁平管理']
4733   南京             畅途网      32515  ['带薪年假', '岗位晋升', '管理规范', '通讯津贴']
...   ...             ...        ...                               ...
4807   南京        通联数据股份公司      21218  ['五险一金', '通讯津贴', '带薪年假', '节日礼物']
4808   南京      北京创景咨询有限公司      22225  ['年底双薪', '绩效奖金', '通讯津贴', '定期体检']
4809   南京    南京领添信息技术有限公司      32179  ['节日礼物', '股票期权', '带薪年假', '绩效奖金']
4810   南京    上海竞情数据科技有限公司     154766                               NaN
4811   南京      南京晟邦物流有限公司      35526  ['节日礼物', '技能培训', '带薪年假', '绩效奖金']

     companyShortName companySize          businessZones  firstType  \
4729              付融宝    150-500人    ['沙洲', '小行', '铁心桥']         运营
4730             通联数据    150-500人                    NaN         技术
4731             希嘉创智     50-150人          ['中央门', '红山']         技术
4732             东方网力   500-2000人                    NaN         技术
4733              畅途网    150-500人                 ['泰山']  开发/测试/运维类
...               ...         ...                    ...        ...
4807             通联数据    150-500人           ['兴隆', '沙洲']         金融
4808             创景咨询     50-150人    ['铁心桥', '小行', '沙洲']         技术
4809             南京领添   500-2000人                 ['宁南']         运营
4810             竞情数据       少于15人  ['中央门', '和燕路', '建宁路']  开发/测试/运维类
4811             晟邦物流   500-2000人                    NaN      市场与销售

      secondType education  ... positionId    positionAdvantage  \
4729          运营        大专  ...    2160567                 发展前景
4730        后端开发        本科  ...    2545356       薪资福利 团队氛围 职业发展
4731         DBA        本科  ...    2516546       五险一金、带薪年假、职位提升
4732        后端开发        本科  ...    2308737  弹性工作，股权激励，带薪年假，定期团建
4733        数据开发        大专  ...    2574156  电商平台,专业团队,个人发展,融洽氛围
...          ...       ...  ...        ...                  ...
4807  天使投资/VC/PE        本科  ...    2198066          福利待遇好 团队氛围好
4808        数据开发        硕士  ...    2381770  美资企业、全英文办公环境、有无经验均可
4809          运营        大专  ...    2478053              五险一金 双休
4810   前端开发/移动开发        不限  ...    2578886  可选回上海。入职后随公司融资进度配股。
4811         供应链        本科  ...    2491702   五险一金,高薪,优秀应届,应用数学专

                 positionName                     positionLables  salary  \
4729                    数据分析师              ['分析师', '数据分析', '数据']   6k-9k
4730            行业数据分析师-南京-校招              ['分析师', '数据分析', '数据']  5k-10k
4731                 大数据实施工程师                ['大数据', '实施', '数据']   4k-6k
4732  大数据工程师（2017应届生）(000725)                      ['大数据', '数据']  8k-12k
4733                    数据分析师     ['数据分析', '数据挖掘', 'BI', '数据仓库']  8k-13k
...                       ...                                ...     ...
4807              数据规划（财务数据类）                ['分析师', '财务', '数据']   2k-3k
4808       数据工程师（_美资Ancestry）                     ['数据挖掘', '数据']  8k-14k
4809                   数据统计专员                             ['数据']   2k-4k
4810   南京金融数据分部---研发工程师---Web  ['中级', 'web前端', '实习', '金融', '数据']   2k-4k
4811            物流规划专员（数据分析类）               ['数据分析', '数据', '物流']   4k-8k

     bottomSalary topSalary avg  workYear rank
4729            6         9 NaN     应届毕业生  NaN
4730            5         0 NaN     应届毕业生  NaN
4731            4         6 NaN     应届毕业生  NaN
4732            8         2 NaN     应届毕业生  NaN
4733            8         3 NaN      1-3年  NaN
...           ...       ...  ..       ...  ...
4807            2         3 NaN        不限  NaN
4808            8         4 NaN        不限  NaN
4809            2         4 NaN        不限  NaN
4810            2         4 NaN        不限  NaN
4811            4         8 NaN        不限  NaN

[83 rows x 21 columns]
     city   companyFullName  companyId                       companyLabelList  \
4932   厦门      四三九九网络股份有限公司       9547       ['绩效奖金', '五险一金', '带薪年假', '免费班车']
4933   厦门      厦门美图之家科技有限公司      23291      ['节日礼物', '与大牛共事', '福利健全', '五险一金']
4934   厦门   科莫宝（厦门）信息科技有限公司     101003       ['年底双薪', '股票期权', '专项奖金', '带薪年假']
4935   厦门     厦门吉才神网络科技有限公司      41234       ['技能培训', '节日礼物', '股票期权', '绩效奖金']
4936   厦门      厦门美柚信息科技有限公司       9251       ['绩效奖金', '股票期权', '年底双薪', '专项奖金']
4937   厦门      厦门美图之家科技有限公司      23291      ['节日礼物', '与大牛共事', '福利健全', '五险一金']
4938   厦门      厦门浩渺网络科技有限公司      44035       ['年底双薪', '节日礼物', '专项奖金', '带薪年假']
4939   厦门    厦门海西医药交易中心有限公司     142207                                    NaN
4940   厦门      厦门美图之家科技有限公司      23291      ['节日礼物', '与大牛共事', '福利健全', '五险一金']
4941   厦门      厦门美图之家科技有限公司      23291      ['节日礼物', '与大牛共事', '福利健全', '五险一金']
4942   厦门    厦门融通信息技术有限责任公司     107358        ['年底双薪', '带薪年假', '领导好', '管理规范']
4943   厦门    上海贝登金融信息服务有限公司      56827                                    NaN
4944   厦门    厦门融通信息技术有限责任公司     107358        ['年底双薪', '带薪年假', '领导好', '管理规范']
4945   厦门             安居客集团      37437       ['技能培训', '绩效奖金', '岗位晋升', '管理规范']
4946   厦门    北京东方国信科技股份有限公司      16875      ['大数据软件', '技能培训', '节日礼物', '年底双薪']
4947   厦门      厦门光鱼信息科技有限公司     123068         ['年终分红', '交通补助', '美女多', '领导好']
4948   厦门          咪咕动漫有限公司      74138       ['技能培训', '年底双薪', '带薪年假', '绩效奖金']
4949   厦门  上海嗨酷强供应链信息技术有限公司     149066  ['大咖云集', '年终绩效奖金', '一流办公环境', '扁平化管理']
4950   厦门    厦门多快好省网络科技有限公司      21758       ['五险一金', '弹性上班', '周末双休', '年底双薪']
4951   厦门      厦门海迈科技股份有限公司      49341       ['技能培训', '岗位晋升', '管理规范', '定期体检']
4952   厦门   厦门市美亚柏科信息股份有限公司      23905                                    NaN
4953   厦门        智业软件股份有限公司      49410       ['技能培训', '带薪年假', '绩效奖金', '岗位晋升']
4954   厦门      厦门笨鸟电子商务有限公司      84086       ['节日礼物', '股票期权', '带薪年假', '岗位晋升']
4955   厦门      厦门数析信息科技有限公司      56693      ['朝十晚六', 'brt直达', '股票期权', '年终分红']
4956   厦门      厦门渊亭信息科技有限公司     128288       ['年底双薪', '股票期权', '专项奖金', '绩效奖金']
4957   厦门      厦门不多不少科技有限公司     109736       ['年底双薪', '股票期权', '带薪年假', '交通补助']
4958   厦门        北京护航科技有限公司      58711                                    NaN
4959   厦门      厦门数析信息科技有限公司      56693      ['朝十晚六', 'brt直达', '股票期权', '年终分红']
4960   厦门      厦门巨龙信息科技有限公司      46961        ['过节费', '技能培训', '节日礼物', '专项奖金']
4961   厦门   佰模_信息科技（厦门）有限公司     153745                                    NaN

     companyShortName companySize         businessZones  firstType  \
4932             4399     2000人以上        ['前埔医院', '莲前']         技术
4933             美图公司   500-2000人         ['软件园', '莲前']         技术
4934              科莫宝      15-50人              ['前埔医院']         金融
4935              吉才神    150-500人              ['前埔医院']         设计
4936               美柚    150-500人               ['软件园']         技术
4937             美图公司   500-2000人         ['软件园', '莲前']         设计
4938             浩渺网络      15-50人                   NaN         技术
4939         海西医药交易中心    150-500人                   NaN         技术
4940             美图公司   500-2000人         ['软件园', '莲前']         技术
4941             美图公司   500-2000人                   NaN         产品
4942   厦门融通信息技术有限责任公司    150-500人               ['软件园']         技术
4943            财经智库网     50-150人                ['中华']         金融
4944   厦门融通信息技术有限责任公司    150-500人              ['前埔医院']         技术
4945              安居客   500-2000人  ['中华', '厦港', '厦门大学']         设计
4946             东方国信     2000人以上                   NaN         技术
4947             光鱼全景      15-50人                   NaN         技术
4948             咪咕动漫   500-2000人                   NaN         设计
4949            嗨酷强公司    150-500人                   NaN  产品/需求/项目类
4950             多快好省      15-50人   ['中华', '鼓浪屿', '厦港']         技术
4951             海迈科技    150-500人        ['前埔医院', '莲前']         技术
4952             美亚柏科   500-2000人                   NaN         技术
4953             智业软件   500-2000人        ['前埔医院', '莲前']         技术
4954             笨鸟社交     50-150人                ['莲前']         技术
4955  Datartisan 数据工匠       少于15人  ['莲前', '金尚路', '吕岭路']         技术
4956           渊亭信息科技      15-50人                   NaN         技术
4957             大家网络     50-150人                   NaN  开发/测试/运维类
4958             护航科技   500-2000人   ['康乐', '仙岳路', '松柏']         技术
4959  Datartisan 数据工匠       少于15人  ['莲前', '金尚路', '吕岭路']         产品
4960             厦门巨龙    150-500人   ['塘边', '嘉园路', '禾山']         技术
4961              佰模_      15-50人                   NaN         技术

      secondType education  ... positionId           positionAdvantage  \
4932        后端开发        本科  ...    2411738             薪资高,福利好,平台大,空间足
4933        后端开发        本科  ...    1462646           10亿级用户 大牛级团队 火箭成长
4934          风控        大专  ...    2319856         国际顶级海景办公环境，优越的福利待遇！
4935        用户研究        大专  ...    2191947        五险一金,公司福利,周末双休,发展空间大
4936        后端开发        本科  ...    1384319                       融洽的氛围
4937        用户研究        本科  ...    1378693                     十亿级用户数据
4938        后端开发        本科  ...    1978661          五险一金、年度体检、年度旅游、下午茶
4939         DBA        大专  ...    2298060         五险一金 带薪年假 全新电商B2B平台
4940        后端开发        本科  ...    1512034                     十亿级用户数据
4941  产品经理/产品设计师        本科  ...    2559213           大牛团队 火箭般成长 亿级用户数据
4942        企业软件        大专  ...    1428842              六险一金、朝九晚五、周末双休
4943         投融资        本科  ...    1182572              绩效奖金、员工旅游、免费班车
4944         DBA        大专  ...    1278932        六险一金、朝九晚五、试用期薪资与转正一致
4945        用户研究        本科  ...    2161452                新部门，新成长，空间无限
4946         DBA        本科  ...    2454369                上市公司,前景好,机会佳
4947         DBA        本科  ...    2559895           双休车食补贴法定节假日医社保年终奖
4948        数据分析        本科  ...    1981727             半山豪宅办公室，超值福利大礼包
4949  产品经理/产品设计师        本科  ...    2561129                   大咖云集,资深专家
4950        后端开发        本科  ...     190727          超热门互联网金融行业，技术实力提升快
4951        后端开发        本科  ...    2417777        五险一金、餐补、交补、高温补贴、带薪年假
4952         管理岗        本科  ...    2553362          上市公司,五险一金,年终奖,弹性工作
4953        数据开发        硕士  ...    2551075                 福利待遇佳、岗位挑战性
4954        后端开发        硕士  ...    2042554           牛人多,扁平化,五险一金,员工福利
4955        后端开发        不限  ...     927405  平台化数据分析平台研发、Data Scientist
4956        后端开发        不限  ...    1894326                      广大发展空间
4957        数据开发        本科  ...    2573192                知名投资人；弹性工作制；
4958        运维安全        大专  ...    2309059              五险一金,国企合作,完善制度
4959        产品经理        本科  ...     927337       Data Scientist 职业方向培养
4960        后端开发        不限  ...    2497292        五险一金、双休、年终项目绩效奖、培训提升
4961      高端技术职位        大专  ...    2511247              五险一金、下午茶、年终奖金等

            positionName                    positionLables   salary  \
4932  大数据开发工程师【2017校园招聘】  ['大数据', '招聘', '数据库', '高校', '数据']   5k-10k
4933               数据分析师             ['分析师', '数据分析', '数据']   8k-16k
4934            风控/数据分析师     ['风险控制', '分析师', '数据分析', '数据']    4k-6k
4935               数据分析师             ['分析师', '数据分析', '数据']   6k-12k
4936            大数据开发工程师              ['大数据', '数据库', '数据']  10k-20k
4937              数据分析专员                    ['数据分析', '数据']   5k-10k
4938              数据分析专员                    ['数据分析', '数据']    4k-6k
4939              数据分析专员                    ['数据分析', '数据']    3k-6k
4940             数据分析工程师            ['数据分析', '后端开发', '数据']  10k-20k

[407 rows x 21 columns]
     city   companyFullName  companyId                  companyLabelList  \
4812   武汉       武汉婚芭莎会展有限公司     143404                               NaN
4813   武汉    耀方信息技术（上海）有限公司      15185  ['绩效奖金', '股票期权', '年底双薪', '五险一金']
4814   武汉    引力互动科技（武汉）有限公司      30469  ['节日礼物', '技能培训', '股票期权', '带薪年假']
4815   武汉      北京榆钱投资管理有限公司      63366  ['技能培训', '年底双薪', '带薪年假', '岗位晋升']
4816   武汉       深圳福迈斯科技有限公司      34543  ['节日礼物', '技能培训', '绩效奖金', '岗位晋升']
...   ...               ...        ...                               ...
4876   武汉    零壹投资咨询（北京）有限公司      27360   ['专项奖金', '带薪年假', '13薪', '扁平管理']
4877   武汉        北京深_科技有限公司      33790  ['技能培训', '岗位晋升', '管理规范', '定期体检']
4878   武汉     北京好巧国际旅行社有限公司       7902  ['五险一金', '年度旅游', '弹性工作', '扁平管理']
4879   武汉  北京创星康华信息科技发展有限公司     107775  ['股票期权', '年终分红', '午餐补助', '交通补助']
4880   武汉    义信恒通（武汉）科技有限公司      54217  ['年底双薪', '技能培训', '节日礼物', '带薪年假']

     companyShortName companySize          businessZones  firstType  \
4812            中国婚博会    150-500人   ['中北路', '东湖路', '徐东']         设计
4813        岗岭集团（1药网）   500-2000人     ['关山', '光谷', '鲁巷']         技术
4814             引力互动      15-50人     ['关山', '光谷', '鲁巷']  开发/测试/运维类
4815             榆钱金融     50-150人                    NaN         运营
4816        FORMAX金融圈   500-2000人                    NaN         金融
...               ...         ...                    ...        ...
4876             零壹财经      15-50人   ['中北路', '东亭', '东湖路']         金融
4877             深_科技     50-150人     ['关山', '光谷', '鲁巷']  产品/需求/项目类
4878               好巧     50-150人  ['中南路', '武珞路', '水果湖']         运营
4879           北京创星康华     50-150人                ['中北路']         技术
4880             美国义信      15-50人                    NaN         运营

      secondType education  ... positionId      positionAdvantage  \
4812        数据分析        本科  ...    2474583         免费住宿,专业培训,弹性工作
4813        后端开发        本科  ...    2332571         培养成长,文化氛围,薪资福利
4814        数据开发        本科  ...    2537474            广阔的发展,双通道发展
4815          运营        不限  ...    2278838              五险一金 周末双休
4816          风控        本科  ...    1870623             福利丰富，晋升空间大
...          ...       ...  ...        ...                    ...
4876  天使投资/VC/PE        本科  ...    2435537     13薪,专业按摩,节日福利,五险一金
4877        数据分析        不限  ...    2570095  五险一金,年底双薪,双休，餐补,交补，话补
4878          编辑        大专  ...    2266245     双休、弹性工作、优秀团队、学习空间大
4879        后端开发        本科  ...    2468739     五险一金、员工活动、期权激励、年终奖
4880          编辑        不限  ...    2384194      稳定,不加班,人性化管理,福利健全

     positionName                 positionLables   salary bottomSalary  \
4812       数据统计分析                 ['数据分析', '数据']    3k-5k            3
4813         数据开发   ['大数据', '后端开发', '数据库', '数据']    2k-4k            2
4814        数据分析师  ['分析师', '数据分析', '数据挖掘', '数据']  10k-20k           10
4815        数据分析师          ['分析师', '数据分析', '数据']   5k-10k            5
4816    数据分析师（武汉）          ['分析师', '数据分析', '数据']   5k-10k            5
...           ...                            ...      ...          ...
4876          分析师                        ['分析师']    3k-6k            3
4877        数据工程师                 ['数据分析', '数据']    3k-5k            3
4878    数据编辑（实习生）                   ['编辑', '数据']    1k-2k            1
4879     大数据开发工程师           ['大数据', '数据库', '数据']   7k-14k            7
4880         数据录入                         ['数据']    2k-3k            2

     topSalary avg  workYear rank
4812         5 NaN     应届毕业生  NaN
4813         4 NaN     应届毕业生  NaN
4814        20 NaN      1-3年  NaN
4815         0 NaN      1-3年  NaN
4816         0 NaN      1-3年  NaN
...        ...  ..       ...  ...
4876         6 NaN        不限  NaN
4877         5 NaN        不限  NaN
4878         2 NaN        不限  NaN
4879         4 NaN        不限  NaN
4880         3 NaN        不限  NaN

[69 rows x 21 columns]
     city   companyFullName  companyId                      companyLabelList  \
980    深圳      深圳爱拼信息科技有限公司        385     ['发展迅猛', '股票期权', '管饭+零食', '数据驱动']
981    深圳  深圳前海用友力合金融服务有限公司      44982      ['节日礼物', '带薪年假', '绩效奖金', '岗位晋升']
982    深圳       深圳市谷米科技有限公司      16797      ['年底双薪', '节日礼物', '带薪年假', '年度旅游']
983    深圳     深圳房讯通信息技术有限公司      33807      ['年底双薪', '节日礼物', '技能培训', '绩效奖金']
984    深圳      深圳爱拼信息科技有限公司        385     ['发展迅猛', '股票期权', '管饭+零食', '数据驱动']
...   ...               ...        ...                                   ...
1502   深圳   深圳市探娱互动科学文化有限公司        273  ['游戏是科学的', '手机游戏发行', '股票期权', '年度旅游']
1503   深圳      深圳奇迹智慧网络有限公司      62123      ['节日礼物', '专项奖金', '股票期权', '带薪年假']
1504   深圳         中国信息通信研究院     114603      ['年终分红', '绩效奖金', '带薪年假', '午餐补助']
1505   深圳      平安科技（深圳）有限公司      24748      ['绩效奖金', '五险一金', '带薪年假', '节日礼物']
1506   深圳      深圳市创客家科技有限公司     111974                                   NaN

     companyShortName companySize          businessZones firstType secondType  \
980          iPIN.com     50-150人  ['科技园', '南山医院', '大冲']        技术       数据开发
981               友金所   500-2000人  ['科技园', '南山医院', '大冲']        金融         风控
982             酷米客公交    150-500人   ['科技园', '深圳湾', '大冲']        技术     高端技术职位
983               房讯通    150-500人  ['科技园', '科技园', '深圳湾']        运营         运营
984          iPIN.com     50-150人  ['科技园', '南山医院', '大冲']        技术       后端开发
...               ...         ...                    ...       ...        ...
1502      探娱互动科学@游戏发行     50-150人                    NaN        产品       产品经理
1503             奇迹智慧     50-150人    ['火车站', '东门', '国贸']        技术       后端开发
1504            中国信通院     2000人以上   ['皇岗', '岗厦', '莲花二村']        技术       后端开发
1505             平安科技     2000人以上                    NaN        产品     高端产品职位
1506            创客家科技      15-50人                    NaN        技术     高端技术职位

     education  ... positionId    positionAdvantage       positionName  \
980         本科  ...    2441296   风口行业，完善培养体系，无限成长空间     数据分析师（2017届校招）
981         本科  ...    2210020  发展前景好+薪酬福利丰富+办公环境舒适             风险数据分析
982         博士  ...    1259338            朝阳产业，股票期权              数据科学家
983         不限  ...     689580    自由 欢乐 创新 晋升 福利 发展               数据专员
984         本科  ...    2441276   风口行业，完善培养体系，无限成长空间  大数据采集工程师（2017届校招）
...        ...  ...        ...                  ...                ...
1502        本科  ...    1962867         与牛逼团队颠覆行业的机会       游戏策划分析师（985）
1503        不限  ...    2258048   平台好，氛围优，团队牛，福利待遇优！          数据挖掘分析工程师
1504        大专  ...    2229437       优秀实习生可考虑参加新人招聘       互联网大数据开发实习培训
1505        本科  ...     588552               科技引领金融        高级需求分析师(深圳)
1506        硕士  ...    2483655          待遇优厚，工作时间灵活  医学Meta分析员/生物信息分析师

                     positionLables   salary bottomSalary topSalary avg  \
980   ['分析师', '数据分析', '数据挖掘', '数据']  10k-20k           10        20 NaN
981                  ['数据分析', '数据']   6k-10k            6         0 NaN
982                          ['数据']  30k-40k           30        40 NaN
983                          ['数据']    3k-4k            3         4 NaN
984                   ['大数据', '数据']   8k-12k            8         2 NaN
...                             ...      ...          ...       ...  ..
1502    ['分析师', '策划', '游戏', '游戏策划']   6k-12k            6         2 NaN
1503                 ['数据挖掘', '数据']  15k-25k           15        25 NaN
1504     ['培训', '大数据', '数据库', '数据']    1k-2k            1         2 NaN
1505                ['分析师', '需求分析']  20k-30k           20        30 NaN
1506                        ['分析师']    5k-8k            5         8 NaN

      workYear rank
980      应届毕业生  NaN
981      应届毕业生  NaN
982      应届毕业生  NaN
983      应届毕业生  NaN
984      应届毕业生  NaN
...        ...  ...
1502        不限  NaN
1503        不限  NaN
1504        不限  NaN
1505        不限  NaN
1506        不限  NaN

[527 rows x 21 columns]
     city      companyFullName  companyId                    companyLabelList  \
4987   苏州        苏州思必驰信息科技有限公司         94    ['年底双薪', '五险一金', '弹性工作', '年度旅游']
4988   苏州         同程网络科技股份有限公司       3564    ['绩效奖金', '股票期权', '专项奖金', '年底双薪']
4989   苏州       苏州赛科爱茵智能科技有限公司     135199    ['午餐补助', '绩效奖金', '带薪年假', '扁平管理']
4990   苏州       苏州清研车联教育科技有限公司     132336                                 NaN
4991   苏州         苏州新科兰德科技有限公司      11021    ['年底双薪', '节日礼物', '股票期权', '专项奖金']
4992   苏州        苏州贝尔塔数据技术有限公司      79166    ['节日礼物', '年底双薪', '股票期权', '专项奖金']
4993   苏州         江苏曲速教育科技有限公司      23398    ['技能培训', '节日礼物', '专项奖金', '岗位晋升']
4994   苏州         苏州欧睿检测技术有限公司     133619                                 NaN
4995   苏州         同程网络科技股份有限公司       3564    ['绩效奖金', '股票期权', '专项奖金', '年底双薪']
4996   苏州     博易智软（北京）技术股份有限公司      78889     ['年底双薪', '股票期权', '带薪年假', '美女多']
4997   苏州       苏州合享新创信息科技有限公司     115906    ['午餐补助', '定期体检', '带薪年假', '节日礼物']
4998   苏州         苏州大禹网络科技有限公司      43493  ['帅哥美女如云', '扁平管理', '定期体检', '提供住宿']
4999   苏州        上海链家房地产经纪有限公司      55581    ['技能培训', '年底双薪', '节日礼物', '绩效奖金']
5000   苏州         同程网络科技股份有限公司       3564    ['绩效奖金', '股票期权', '专项奖金', '年底双薪']
5001   苏州         同程网络科技股份有限公司       3564    ['绩效奖金', '股票期权', '专项奖金', '年底双薪']
5002   苏州       苏州食行生鲜电子商务有限公司     119552    ['年底双薪', '股票期权', '交通补助', '午餐补助']
5003   苏州         苏州朗动网络科技有限公司      51527                                 NaN
5004   苏州      智慧芽信息科技（苏州）有限公司      35384    ['技能培训', '年底双薪', '节日礼物', '绩效奖金']
5005   苏州         同程网络科技股份有限公司       3564    ['绩效奖金', '股票期权', '专项奖金', '年底双薪']
5006   苏州         同程网络科技股份有限公司       3564    ['绩效奖金', '股票期权', '专项奖金', '年底双薪']
5007   苏州         同程网络科技股份有限公司       3564    ['绩效奖金', '股票期权', '专项奖金', '年底双薪']
5008   苏州         同程网络科技股份有限公司       3564    ['绩效奖金', '股票期权', '专项奖金', '年底双薪']
5009   苏州      智慧芽信息科技（苏州）有限公司      35384    ['技能培训', '年底双薪', '节日礼物', '绩效奖金']
5010   苏州       中移（苏州）软件技术有限公司      56567    ['技能培训', '年底双薪', '绩效奖金', '通讯津贴']
5011   苏州        上海客凯易信息科技有限公司      47909    ['技能培训', '节日礼物', '绩效奖金', '年度旅游']
5012   苏州      库力索法半导体（苏州）有限公司     131432                                 NaN
5013   苏州       中移（苏州）软件技术有限公司      73994    ['年底双薪', '节日礼物', '技能培训', '绩效奖金']
5014   苏州        苏州思必驰信息科技有限公司         94    ['年底双薪', '五险一金', '弹性工作', '年度旅游']
5015   苏州      智慧芽信息科技（苏州）有限公司      35384    ['技能培训', '年底双薪', '节日礼物', '绩效奖金']
5016   苏州         苏州朗动网络科技有限公司      51527                                 NaN
5017   苏州         苏州朗动网络科技有限公司      51527                                 NaN
5018   苏州         同程网络科技股份有限公司       3564    ['绩效奖金', '股票期权', '专项奖金', '年底双薪']
5019   苏州         同程网络科技股份有限公司       3564    ['绩效奖金', '股票期权', '专项奖金', '年底双薪']
5020   苏州    泰州医药城博奥邦科生物科技有限公司      16231    ['绩效奖金', '专项奖金', '年底双薪', '五险一金']
5021   苏州       苏州食行生鲜电子商务有限公司     119552    ['年底双薪', '股票期权', '交通补助', '午餐补助']
5022   苏州        苏州优圣美智能系统有限公司      39467                                 NaN
5023   苏州  天津金裕道贵金属经营有限公司苏州分公司      41687    ['技能培训', '节日礼物', '年底双薪', '带薪年假']

     companyShortName companySize          businessZones  firstType  \
4987            思必驰科技    150-500人                ['独墅湖']         运营
4988             同程旅游     2000人以上  ['火车站', '桃花坞', '山塘街']         技术
4989             赛客爱茵      15-50人                    NaN  产品/需求/项目类
4990             清研车联     50-150人                    NaN         技术
4991             聚合数据     50-150人                ['独墅湖']         技术
4992         启信宝（贝尔塔）     50-150人                    NaN         产品
4993            极课大数据    150-500人                    NaN  开发/测试/运维类
4994     苏州欧睿检测技术有限公司     50-150人                    NaN         技术
4995             同程旅游     2000人以上                ['独墅湖']         技术
4996             博易智软    150-500人                    NaN         技术
4997             合享新创     50-150人                    NaN         设计
4998             大禹网络    150-500人                ['独墅湖']      市场与销售
4999           链家（上海）     2000人以上                 ['胜浦']      市场与销售
5000             同程旅游     2000人以上         ['独墅湖', '独墅湖']      市场与销售
5001             同程旅游     2000人以上                ['独墅湖']         职能
5002             食行生鲜   500-2000人                    NaN  产品/需求/项目类
5003           朗动网络科技     50-150人                ['独墅湖']  开发/测试/运维类
5004              智慧芽    150-500人                    NaN         产品
5005             同程旅游     2000人以上                    NaN         技术
5006             同程旅游     2000人以上                    NaN         技术
5007             同程旅游     2000人以上         ['独墅湖', '独墅湖']  产品/需求/项目类
5008             同程旅游     2000人以上                    NaN         技术
5009              智慧芽    150-500人                    NaN         产品
5010             中移软件   500-2000人                    NaN         产品
5011      客凯易 Cuscapi     50-150人                ['独墅湖']         产品
5012             库力索法   500-2000人                    NaN         技术
5013              苏小研   500-2000人                    NaN         产品
5014            思必驰科技    150-500人                ['独墅湖']  开发/测试/运维类
5015              智慧芽    150-500人                    NaN         技术
5016           朗动网络科技     50-150人                ['独墅湖']         技术
5017           朗动网络科技     50-150人                    NaN         产品
5018             同程旅游     2000人以上                    NaN         技术
5019             同程旅游     2000人以上                    NaN         技术
5020             博奥邦科   500-2000人                    NaN         技术
5021             食行生鲜   500-2000人                    NaN         运营
5022          Yosemei      15-50人                 ['东渚']  产品/需求/项目类
5023            苏州金裕道    150-500人    ['石路', '三香路', '彩香']      市场与销售

      secondType education  ... positionId        positionAdvantage  \
4987          编辑        本科  ...    2360554           思必驰人工智能大家庭等你加入
4988        后端开发        大专  ...    1615002                     数据分析
4989        数据分析        本科  ...    2527509                  新品牌,新平台
4990        运维安全        硕士  ...    2559769                五险一金、带薪年假
4991        后端开发        本科  ...    1364542              不提倡加班的互联网公司
4992  产品经理/产品设计师        本科  ...    2296214         全员持股、自主发挥空间、海外旅游
4993        数据开发        硕士  ...    2570356      弹性工作,绩效奖金,年底双薪,各种福利
4994        项目管理        本科  ...    2553810    五险一金,节假日福利,高住房补贴,通讯补贴
4995      高端技术职位        本科  ...    2382856            大平台 福利好 晋升空间大
4996        企业软件        本科  ...    2409398     五险一金,工作餐补贴,出差补贴,年度体检
4997        数据分析        本科  ...    2343333               知识产权,发展前景广
4998        数据分析        本科  ...    2513504       五险一金,带薪年假,年终奖,员工期权
4999        数据分析        本科  ...    2401973      上升空间大,大平台,资源调配,决策支持
5000      高端市场职位        本科  ...    2513356            大平台 福利好 晋升空间大
5001          财务        本科  ...    2313000                  大平台，高薪酬
5002        数据分析        大专  ...    2543450       做五休二,年终奖,股权分红,搭建团队
5003        数据开发        本科  ...    2582554        管理扁平化,福利待遇优,发展前景好
5004        产品经理        本科  ...    2216594            行业前景广阔；老板nice
5005        后端开发        大专  ...    2289793                移动互联网 大数据
5006        后端开发        本科  ...    2289785              移动互联网平台 大数据
5007   产品设计/需求分析        本科  ...    2573157     C轮融资，团队优秀， 技术大牛，等你来战
5008        项目管理        大专  ...    2546227        五险一金、带薪年假、良好的工作氛围
5009        产品经理        本科  ...    1425736        扁平管理，上班不打卡，老板nice
5010  产品经理/产品设计师        本科  ...    2274450      移动直属的研发中心，资金雄厚，待遇丰厚
5011        产品经理        本科  ...     702236         14天带薪年假 五险一金 意外险
5012        企业软件        本科  ...    1909740        专业培训以及有竞争力的薪资福利待遇
5013        产品经理        本科  ...    2300609      交通补贴、通讯补贴、节日福利、免费班车
5014        软件开发        硕士  ...    2578959               国内一流语音技术团队
5015      高端技术职位        本科  ...    2064345             大数据方向，行业前景广阔
5016      高端技术职位        本科  ...    2389874  公司前景好,发展空间大,福利待遇优,管理扁平化
5017        产品经理        本科  ...    2390304        发展前景好,管理扁平化,福利待遇优
5018      高端技术职位        本科  ...    2361054                岗位晋升 年终奖金
5019      高端技术职位        本科  ...    1818358          扁平管理 发展潜力大 成熟团队
5020      高端技术职位        大专  ...     180764              待遇优，氛围好，发展多
5021          运营        本科  ...    2019293                   集团公司总部
5022        数据分析        本科  ...    2568821              晋升空间大,发展机会多
5023          投资        本科  ...     480882          五险一金；节日礼品；国内外旅游

                positionName                     positionLables   salary  \
4987        对话数据工程师（2017年校招）                       ['文案', '数据']   5k-10k
4988                   数据分析师              ['分析师', '数据分析', '数据']   7k-13k
4989                   数据分析师              ['分析师', '数据分析', '数据']   8k-16k
4990                   数据分析师      ['数据仓库', '分析师', '数据分析', '数据']   6k-10k
4991                大数据开发工程师               ['大数据', '数据库', '数据']  13k-20k
4992                 数据产品分析师                ['分析师', '产品', '数据']  10k-20k
4993         数据挖掘工程师/数据处理工程师     ['数据分析', '数据挖掘', '机器学习', '数据']  10k-20k
4994               大数据解决方案经理                      ['大数据', '数据']  12k-20k
4995               数据报表开发工程师                             ['数据']   9k-15k
4996                  大数据工程师                      ['大数据', '数据']  10k-15k
4997                 专利检索分析师              ['专利', '分析师', '数据分析']    6k-8k
4998                  商业数据分析         ['商业', '数据分析', '数据', 'BI']    3k-5k
4999                   数据分析师        ['商业', '分析师', '数据分析', '数据']   8k-14k
5000                   数据分析师              ['分析师', '数据分析', '数据']  10k-15k
5001                   数据分析师              ['分析师', '数据分析', '数据']   8k-15k
5002                   数据分析师              ['分析师', '数据分析', '数据']   8k-15k
5003                   数据工程师                     ['数据挖掘', '数据']  10k-20k
5004                数据分析产品经理       ['产品经理', '数据分析', '产品', '数据']  10k-20k
5005              大数据高级开发工程师                      ['大数据', '数据']  13k-25k
5006             数据仓库高级开发工程师                     ['数据仓库', '数据']  13k-25k
5007           业务分析师（财务管理系统）        ['需求分析', '财务', '系统', '分析师']  13k-18k
5008                   需求分析师                    ['分析师', '需求分析']  10k-15k
5009                  数据产品经理               ['产品经理', '产品', '数据']  10k-15k
5010               大数据安全产品经理  ['产品经理', '大数据', '产品', '数据', '安全']  15k-25k
5011                   需求分析师                    ['分析师', '需求分析']    5k-9k
5012            高级大数据系统软件工程师          ['大数据', '数据', '软件', '系统']   8k-12k
5013       大数据安全产品经理(J10075)  ['产品经理', '大数据', '产品', '数据', '安全']  10k-20k
5014               数据分析平台架构师        ['架构师', '数据分析', '数据', '平台']  20k-35k
5015                   大数据专家                      ['大数据', '数据']  25k-35k
5016                  大数据架构师               ['大数据', '架构师', '数据']  15k-30k
5017                  数据产品经理               ['产品经理', '产品', '数据']  12k-24k
5018                 大数据产品经理        ['产品经理', '大数据', '产品', '数据']  16k-30k
5019                高级大数据架构师               ['大数据', '架构师', '数据']  20k-40k
5020                 系统架构分析师               ['分析师', '架构师', '系统']  15k-25k
5021                   数据分析师              ['分析师', '数据分析', '数据']   8k-15k
5022              物联网工业数据工程师        ['高级', '数据分析', '实习生', '数据']    6k-8k
5023  金裕道集团 诚聘金融分析师 职位编号：024                      ['分析师', '金融']    5k-8k

     bottomSalary topSalary avg  workYear rank
4987            5         0 NaN     应届毕业生  NaN
4988            7         3 NaN      1-3年  NaN
4989            8         6 NaN      1-3年  NaN
4990            6         0 NaN      1-3年  NaN
4991           13        20 NaN      1-3年  NaN
4992           10        20 NaN      1-3年  NaN
4993           10        20 NaN      1-3年  NaN
4994           12        20 NaN      1-3年  NaN
4995            9         5 NaN      1-3年  NaN
4996           10        15 NaN      1-3年  NaN
4997            6         8 NaN      1-3年  NaN
4998            3         5 NaN      1-3年  NaN
4999            8         4 NaN      3-5年  NaN
5000           10        15 NaN      3-5年  NaN
5001            8         5 NaN      3-5年  NaN
5002            8         5 NaN      3-5年  NaN
5003           10        20 NaN      3-5年  NaN
5004           10        20 NaN      3-5年  NaN
5005           13        25 NaN      3-5年  NaN
5006           13        25 NaN      3-5年  NaN
5007           13        18 NaN      3-5年  NaN
5008           10        15 NaN      3-5年  NaN
5009           10        15 NaN      3-5年  NaN
5010           15        25 NaN      3-5年  NaN
5011            5         9 NaN      3-5年  NaN
5012            8         2 NaN      3-5年  NaN
5013           10        20 NaN      3-5年  NaN
5014           20        35 NaN     5-10年  NaN
5015           25        35 NaN     5-10年  NaN